BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false

SortIncludes: CaseInsensitive
IncludeBlocks: Preserve

SpacesInAngles: Never
SpaceBeforeParens: ControlStatements

BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align

AccessModifierOffset: -4
