[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/nfde"]
	path = external/nfde
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor/ine
	url = https://github.com/mikeday37/mirael-node-editor.git
[submodule "external/luajit"]
	path = external/luajit
	url = https://luajit.org/git/luajit.git
	branch = v2.1
