[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/nfde"]
	path = external/nfde
	url = https://github.com/btzy/nativefiledialog-extended.git
